<p style="color: green"><%= notice %></p>

<h1>Users</h1>

<% @users.each do |user| %>
  <div class="card p-5 shadow my-5">
    <%= render user %>
    <p><%= link_to "Show user", user, class: "btn btn-sm btn-outline-dark my-3" %></p>
  </div>
<% end %>

<div class="my-5">
  <%= link_to "New user", new_user_path, class: "btn btn-sm btn-outline-dark" %>
</div>
